<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mail encaminhado</title>
</head>
<body>
    <div class="container form-container"> <h1>E-mail de redefinição enviado com sucesso.</h1>
        <form action="" method="post"> <div id="Rlogin">
                <button type="submit">Realizar Login</button>
            </div>
        </form>
    </div>
</body>
</html>